{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1>Welcome to Stackunderflow</h1>
                <p class="lead mb-4">A place where you can ask questions and receive the answers.</p>
                <a href="{{url_for("questions.route_all_questions")}}" class="btn btn-primary mb-2">All questions</a>
                <a href="{{url_for("questions.route_add_new_question")}}" class="btn btn-secondary mb-2">Ask a new question</a>
            </div>
        </div>
    </div>


{% endblock %}
