{% extends "base.html" %}
{% from "_render_field.html" import render_field %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account information</legend>
                <img class="rounded-circle account-img" src="{{ profile_image }}">
                <br/>
                <br/>
                {{render_field(form.name, class="form-control")}}
                {{render_field(form.email, class="form-control")}}
                {{render_field(form.profile_image, class="form-control")}}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
