{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1>Edit an answer for this question:</h1>
                <div class="question bg-light p-3 mb-3">
                    <p class="lead">{{ question.title }}</p>
                    <hr/>
                    <p>{{ question.content }}</p>
                </div>
                <form method="POST" action="{{ url_for('questions.route_edit_answer', question_id=question_id, answer_id=answer.id) }}" novalidate onsubmit="return confirm('Are you sure you want to modify your answer?')">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{render_field(form.content, rows=5, class="form-control")}}
                    </div>
                    <p class="text-muted small">NOTE: It will be visible for others that your answer was modified.</p>
                    <button type="submit" class="btn btn-primary">Edit your answer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
