{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1>All Questions</h1>
                {% for question in questions %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('questions.route_question_detail', question_id=question.id) }}">
                                    {{ question.title }}
                                </a>
                            </h5>
                            <p class="card-text">{{ question.content[:50]}}...</p>
                            <p class="card-text">{{ question.author.name }}</p>
                            <p class="card-text">{{ question.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                            {% if current_user.is_authenticated and current_user.id == question.author_id %}
                                <a href="{{ url_for('questions.route_edit_question', question_id=question.id) }}" class="btn btn-primary">Edit</a>
                                <!-- preventing accidental deletion by visiting a URL in the browser. The route is accessible only through a POST request -->
                                <form action="{{ url_for('questions.route_delete_question', question_id=question.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this question?')">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
